<script type="text/javascript">
    $(document).ready(function() {
        //$(".apitypelist").select2();
      $('#apitypelist').change(function(){
        window.location.assign("/?apitype="+$(this).val());
      });
    });
</script>

<div class="container">
  <div class="row">
    <h1><%=t('title')%></h1>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <%=t('coreinfo.id')%> : <span class="btn btn-success btn-xs"><%=NMID%></span> | 
            <%=t('coreinfo.url')%> : <%= link_to @coreurl,@coreurl,html_options = {:target => '_blank'} %> |
            <%=t('coreinfo.exposeport')%> : <span class="btn btn-primary btn-xs"><%=ENV['EXPOSEPORT']%></span> |
          <%=t('coreinfo.concurrency')%> : <span class="btn btn-primary btn-xs"><%=ENV['WEB_CONCURRENCY']%></span>
          <%= link_to :logout, destroy_user_session_path, :method => :delete, :class => 'pull-right btn btn-xs btn-danger' %>
        </li>
        <li class="list-group-item list-group-item-info">
          <%=t('coreinfo.memory')%> : <span class="btn btn-primary btn-xs"><%=@railsmem.mb.round(2)%> MB</span> | 
          <%=t('coreinfo.memcached')%> : 
            <span class="btn btn-info btn-xs"><%=ENV['MEMCACHEDHOST']%></span> | 
          <%=t('coreinfo.es')%> : <%=link_to Tire::Configuration.url,Tire::Configuration.url,html_options = {:target => '_blank'}%> | 

          <%=t('coreinfo.uptime')%> : <span class="label label-info"><%=@uptime%></span>
        </li>
        
      </ul>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">API</a></li>
      <li>
      <div class="pull-right">
        <%= select_tag "apitypelist", options_for_select(
          { 
            'DIGITAL PATIENT INFORMATION SYSTEM (DPIS)'=>"dpis", 
            'ADMIT, DISCHARGE & TRANSFER (ADT)'=>"adt" ,
            'OUTPATIENT MANAGEMENT SYSTEM (OPMS)'=>"opms" ,
            'APPOINTMENT SCHEDULING SYSTEM (TCA)'=>"tca" ,
            'DOCUMENT SYSTEM (DocS)'=>"docs" ,
            'LABS MANAGEMENT SYSTEM (LabS)'=>"labs" ,
            'BILLING MANAGEMENT SYSTEM (BMS)'=>"bms" ,
            'PHARMACY MANAGEMENT SYSTEM (PMS)'=>"pms" ,
            'MESSAGING SYSTEM (MASS)'=>"mass" ,
            'WEB PORTAL (WEB)'=>"web" 
            },
          @apitype) %>
          
      </div>
      </li>
    </ol>
  </div>
  <div class="row">
    
    <table class="table table-hover table-bordered table-striped">
      <thead>
          <tr>
            <th>No.</th>
            <th>Method</th>
            <th>Path</th>
            <th>URL</th>
          </tr>
      </thead>
      <tbody>
        <%
          cnt=0
          Rails.application.routes.routes.each do |route|
          #route = route.path.spec.to_s

            if route.path.spec.to_s.starts_with?('/api/'+@apitype)
              
              url = 
        %>
              <tr>
                <th scope="row"><%=cnt+=1%></th>
                <td><%= /GET|POST|PUT|DELETE/.match(route.verb.to_s)%></td>
                <td><%=route.path.spec%></td>
                <td><%=link_to 'Go To Link',@coreurl+route.path.spec.to_s,:class=> 'btn-xs btn btn-info',:target=>'_blank' %></td>
              </tr>
        <%
             end
          end
        %>
      </tbody>
    </table>

    
  </div>
</div>
